html {
  font-size: 10pt;
  overflow-y: scroll;
}

body {
  background-color: #000;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.6;
  word-wrap: break-word;
}

.scaling {
  font-size: 46.875%;
}

table {
  text-transform: none;
  table-layout: fixed;
}

table th {
  color: #000;
  background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 { font-size: 1000%; line-height: 1.2;  letter-spacing: -.1rem; }
h2 { font-size: 450%; line-height: 1.35; letter-spacing: -.08rem; }
h3 { font-size: 250%; line-height: 1.5;  letter-spacing: -.05rem; }
h4 { font-size: 150%; line-height: 1.6;  letter-spacing: 0; }
h5 { font-size: 110%; line-height: 1.4;  letter-spacing: 0; }
h6 { font-size: 70%; line-height: 1.6;  letter-spacing: 0; }

.monospace {
  font-family: Consolas, monaco, monospace;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: #000 url(../images/logo_160.png) no-repeat center;
}

/*
.lightbox {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}*/

.container {
  position: relative;
  max-width: 1620px;
  margin: 0 5%;
  box-sizing: border-box;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.controls {
  background-color: #FFF;
  color: #000;
  padding: 0.5rem 0;
  margin: 20px 0;
}

.gallery {
  width: 100%;
  max-width: 1700px;
  padding: 0px
}

/* cover sizing */

.tile {
  position: relative;
  
  width: 25%;
  max-width: 25%;
  padding-bottom: 25%;
  float: left;
}

.tile div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.tile > div {
  margin: 0.5px;
  box-sizing: border-box;
  
  background-size: cover;
  background-position: center;
  
  overflow: hidden;
}

/*.tile > div:hover {
  border: 1px solid #FFF;
  margin: -0.5px;
}*/

.tile > div > div {
  opacity: 0;
  transition: opacity 100ms linear;
  
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
  text-transform: none;
  padding: 5%;
  text-align: center;
}

.tile > div:hover > div {
  opacity: 1;
}

.label {
  padding-top: 20px;
  clear: both;
}

/* detail */

img {
  width: 100%;
}

.title, p {
  text-transform: none;
}

.citations li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* detail responsiveness */

@media (min-width: 660px) {
  .responsive {
    width: 47.5%;
    margin-left: 5%;
    float: left;
  }

  .responsive:first-child {
    margin-left: 0%;
  }
}

/* anchors */
/* a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }*/
a {
  color: #0FA0CE; }
a:hover {
  color: #0d90b9; }

/* animations */

.fade {
  transition: all linear 200ms;
}

.fade.ng-hide {
  opacity: 0;
}

/* obnoxious responsive conditionals */

@media (min-width: 500px) {
  .tile {
    width: 20%;
    padding-bottom: 20%;
  }
}

@media (min-width: 660px) {
  .tile {
    width: 16.666666666%;
    padding-bottom: 16.666666666%;
  }
}

@media (min-width: 820px) {
  .tile {
    width: 14.285714285%;
    padding-bottom: 14.285714285%;
  }
  .scaling { font-size: 54.6875%; }
}

@media (min-width: 980px) {
  .tile {
    width: 12.5%;
    padding-bottom: 12.5%;
  }
  .scaling { font-size: 62.5%; }
}

@media (min-width: 1140px) {
  .tile {
    width: 11.1111111111%;
    padding-bottom: 11.1111111111%;
  }
  .scaling { font-size: 70.3125%; }
}

@media (min-width: 1300px) {
  .tile {
    width: 10%;
    padding-bottom: 10%;
  }
  .scaling { font-size: 78.125%; }
}

@media (min-width: 1460px) {
  .tile {
    width: 9.0909090909%;
    padding-bottom: 9.0909090909%;
  }
  .scaling { font-size: 85.9375%; }
}

@media (min-width: 1620px) {
  .tile {
    width: 8.33333333333%;
    padding-bottom: 8.33333333333%;
  }
  .scaling { font-size: 93.75%; }
}

table .tile {
  width: 100%;
  max-width: 100%;
  padding-bottom: 100%;
}